.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--badges);
  padding: 24px 120px;
}

.pageNav {
  color: grey;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 30px;

  background: transparent;
  border-radius: 10px;
  padding: 8px;
  transition: color 0.2s ease;
}

.aboutLink:hover,
.portLink:hover,
.contLink:hover,
.homeLink:hover {
  filter: brightness(1.5) saturate(1.4);
  transform: translateY(-2px);
}
