.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--badges);
  padding: 24px 120px;
}

.pageNav {
  color: blue;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.links {
  background-color: brown;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
