.pageContainer {
  min-height: 100vh;
  background: var(--color-bg);
}

.pageContent {
  padding: 2rem 0 3.5rem;
}

/* TABLET */
@media (min-width: 768px) {
  .pageContent {
    padding: 2.5rem 0 4rem;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .pageContent {
    padding: 3rem 0 5rem;
  }
}
