.pageContainer {
  min-height: 100vh;
  background: var(--color-bg);
}

.pageContent {
  padding: 3rem 0;
}

/* TABLET */

@media (min-width: 768px) {
  .pageContent {
    padding: 4rem 0;
  }
}

/* RESPONSIVE - DESKTOP */

@media (min-width: 1024px) {
  .pageContent {
    padding: 5rem 0;
  }
}
